{% extends 'layout.html' %}
{% block content %}
    <h2>Add an activity!</h2>
    <p>This adds an entry to Activities</p>
    <form id="addNew" action="/add-activity">
        <input type="text" name="activityName" placeholder="activity name" required>
        <input type="submit" value="add!" id="addNewButton" required>
    </form>
    <p></p>
    <h2>Edit existing (global) activities:</h2>
    <table>
    <tr>
        <th>activity name</th> 
    </tr>
    {% for activity in activities %}
        <tr>
            <form id="updateExisting" action="/update-activity">
                <td><input type="text" name="activityName" placeholder="{{activity['activityName']}}">{{activities['activityName']}}</td>
                <input type="hidden" name="activityID" value="{{activity['activityID']}}">
                <td><input type="submit" value="update" id="updateButton" required></td>
            </form>
            <form id="deleteExisting" action="/delete-activity">
                <input type="hidden" name="activityID" value="{{activity['activityID']}}">
                <td><input type="submit" value="delete" id="deleteButton" required></td>
            </form>
        </tr>
    {% endfor %}
    </table>
    <br>
    <h2>Add an activity to a locale!</h2>
    <p>This adds an entry to ActivitiesLocales</p>
    <form id="addNew" action='/add-activity-locale'>
        <select name="activityName" id="activityName">
            {% for activity in activities %}
                <option value="{{activity['activityID']}}">{{activity['activityName']}}</option>
            {% endfor %}
        </select>
        <select name="localeName" id="localeName">
            {% for locale in locales %}
                <option value="{{ locale['localeID'] }}">{{ locale['localeName'] }}</option>
            {% endfor %}
        </select>
    <input type="submit" value="add!" id="addNewButton" required>
    </form>
    <p></p>
    <h2>Delete existing activities from your locale:</h2>
    <p>This deletes entries from ActivitiesLocales. Only activities in your locale are available.</p>
    <table>
    <tr>
        <th>activityName</th>
    </tr>
    {% for activity in activitiesLocales %}
        <tr>
            <td>{{ activity['activityName'] }}</td>
            <td><input type="submit" value="delete" id="deleteButton" required></td>
        </tr>
    {% endfor %}
    </table>
    <p></p>
    <h2>Book an activity!</h2>
    <p>This adds an entry to ActivitiesUsers. Only activities in your locale that you aren't yet doing are available.</p>
    <form id="addNew" action='/add-activity-user'>
        <select name="activityID" id="activityID">
            {% for activity in activitiesInYourLocale %}
                <option value="{{activity['activityID']}}">{{ activity['activityName'] }}</option>
            {% endfor %}
    </select>
    <input type="submit" value="i'm doing this activity now!" id="addNewButton" required>
    </form>
    <p></p>
    <h2>Delete my existing activities:</h2>
    <p>This deletes from ActivitiesUsers. It is dynamically populated to only the current user's activities.</p>
    <table>
    <tr>
        <th>activityName</th>
    </tr>
    {% for activityUser in activitiesUsers %}
        <tr>
            <td>{{ activityUser['activityName'] }}</td>
            <td><input type="submit" value="delete" id="deleteButton" required></td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}