{% extends 'layout.html' %}
{% block content %}
<h2>Add an activity!</h2>
<form id="addNew">
    <input type="text" name="activityName" placeholder="activity name" required>
    <input type="submit" value="add!" id="addNewButton" required>
</form>
<br>
<h2>Book an activity!</h2>
<form id="addNew">
    <select name="activityName" id="activityName">
      <option value="bakesourdough">baking sourdough</option>
      <option value="watchallymcbeal">watching Ally McBeal</option>
      <option value="coughintotheabyss">coughing into the abyss</option>
  </select>
  <input type="submit" value="i'm doing this activity now!" id="addNewButton" required>
</form>
{% endblock content %}