{% extends 'layout.html' %}
{% block content %}
<h2>Add an activity!</h2>
<p>This adds an entry to Activities -- below this we should see a table of existing Activities</p>
<form id="addNew">
    <input type="text" name="activityName" placeholder="activity name" required>
    <select name="localeName" id="localeName">
      <option value="volunteerpark">the kitchen</option>
      <option value="calandersonpark">the laundry room</option>
      <option value="thearboretum">The Arboretum</option>
      <option value="volunteerpark">Volunteer Park</option>
      <option value="calandersonpark">Cal Anderson Park</option>
      <option value="interlakenpark">Interlaken Park</option>
      <option value="thearboretum">The Arboretum</option>
  </select>
    <input type="submit" value="add!" id="addNewButton" required>
</form>
<br>
<table>
  <tr>
    <th>activityID</th>
    <th>activityName</th> 
</tr>
<tr>
    <td>1</td>
    <td>baking sourdough</td>
    <td><input type="submit" value="update" id="deleteButton" required></td>
    <td><input type="submit" value="delete" id="deleteButton" required></td>
</tr>
<tr>
    <td>2</td>
    <td>watching Ally McBeal</td>
    <td><input type="submit" value="update" id="deleteButton" required></td>
    <td><input type="submit" value="delete" id="deleteButton" required></td>
</tr>
<tr>
    <td>3</td>
    <td>coughing into the abyss</td>
    <td><input type="submit" value="update" id="deleteButton" required></td>
    <td><input type="submit" value="delete" id="deleteButton" required></td>
</tr>
</table>
<br>
<h2>Book an activity!</h2>
<p>This adds an entry to ActivitiesUsers -- below this we should see a table of existing ActivitiesUsers</p>
<form id="addNew">
    <select name="activityName" id="activityName">
      <option value="bakesourdough">baking sourdough</option>
      <option value="watchallymcbeal">watching Ally McBeal</option>
      <option value="coughintotheabyss">coughing into the abyss</option>
  </select>
  <input type="submit" value="i'm doing this activity now!" id="addNewButton" required>
  <input type="submit" value="remove this" id="remButton">
  <input type="submit" value="Changeroo" id="updateButton">
</form>
<table>
  <tr>
    <th>activityID</th>
    <th>userID</th> 
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td><input type="submit" value="update" id="deleteButton" required></td>
    <td><input type="submit" value="delete" id="deleteButton" required></td>
</tr>
<tr>
    <td>2</td>
    <td>4</td>
    <td><input type="submit" value="update" id="deleteButton" required></td>
    <td><input type="submit" value="delete" id="deleteButton" required></td>
</tr>
<tr>
    <td>3</td>
    <td>7</td>
    <td><input type="submit" value="update" id="deleteButton" required></td>
    <td><input type="submit" value="delete" id="deleteButton" required></td>
</tr>
</table>
{% endblock content %}