{% extends 'layout.html' %}
{% block content %}
<h2>Pages</h2>
<h4>Register</h4>
<p>The registration page adds a new locale to the Locales table (localeName and an autoincremented localeID) if the locale does not yet exist. If the locale does exist in the Users table, the user should not be permitted to register there. Then the new user is added to the Users table -- firstName, lastName, an autoincremented userID, and the localeID that was just added. </p>

<h4>Login</h4>
<p>The login page uses a select statement to find the user's userID (based on the first and last name they logged in with), which is used to find the user's name, locale, and upcoming and available walks and activities.</p>

<h4>Quarpedia</h4>
<p>This is the user's main page, where they can see their current activity.</p>
To change any of this content, the user needs to navigate to other links:
<ul>
	<li>locales to add locales</li>
	<li>walks to change the user's current locale</li>
	<li>activities to add activities to do</li>
</ul>

<h4>Locales</h4>
<p>This is simply the locales table. New locales can be added, and existing locales updated here.</p>

<h4>Walks</h4>
<p>Walks updates the user's localeID in the Users table by providing the user with a dropdown of destinations they can reserve -- these (locales) are the locales no one else is currently at (locales with localeIDs not in Users).</p>

<h4>Activities</h4>
<p>The activities page allows users to add an activity to the Activities table. It also inserts to ActivitiesUsers by providing the user with a dropdown of activities they can reserve.</p>


<!-- {% for post in posts %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#">{{ post.author }}</a>
			<small class="text-muted">{{ post.date_posted }}</small>
		</div>
		<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
		<p class="article-content">{{ post.content }}</p>
	</div>
</article>
{% endfor %} -->
{% endblock content %}