{% extends 'layout.html' %}
{% block content %}
<div>
    <h4>Hi {{ user.firstName }}, welcome to your source for Thrilling Quarantine Activities</h4>
    <h5>Current Locale: {{ user.localeName(class="form-control-label") }}</h5>
    <p><small>
        Are you tired of being here here? (VIBE) To change your locale,<a class="ml-2" href="{{ url_for('walks') }}"> please select a walk at the walks page.</a>
    </small>

    <h5>Current Activites</h5>
    <ul>
    {% for activity in activities %}
    <li>{{activity['activityName']}}</li>
    </ul>
    {% endfor %}

    <p><small>
        Is it time for something else? To add new activities,<a class="ml-2" href="{{ url_for('activities') }}"> please use the add function on the activities page.</a>
    </small>
</div>
{% endblock content %}