{% extends 'layout.html' %}
{% block content %}
<div>
    <h3>Hi {{ user.firstName }}, welcome to Your Source of Thrilling Quarantine Activities</h3>
    <h3>Current Locale: {{ user.localeName }}</h3>
    <p><small>
        Are you tired of being here here? To change your locale,<a class="ml-2" href="{{ url_for('walks') }}"> please select a walk at the walks page.</a>
    </small>

    <h3>Current Activites</h3>
    <ul>
        <li>baking sourdough</li>
        <li>watching Ally McBeal</li>
        <li>coughing into the abyss</li>
    </ul>
    <p><small>
        Is it time for something else? To add new activities,<a class="ml-2" href="{{ url_for('activities') }}"> please use the add function on the activities page.</a>
    </small>
</div>
{% endblock content %}