{% extends 'layout.html' %}
{% block content %}
    <!-- ○ localeID: int, autoincrement, not NULL, PK
    ○ localeName: varchar, not NULL
    ○ userID: int, can be NULL, FK -->
    <h2>Please let us know where you're located!</h2>
    <p> Each user should be able to see the full list of locales. 
    <p> The form below should check to see if the locale entered exists in the locales table. If it does, and the linked userID is NULL, there is no one currently there, so the users_in_locales table should be updated accordingly. If the linked userID matches the current user's ID, this should return an error, letting them know we are already aware they are at that location. Otherwise, it should add the locale to the locales table, and add the userID & locale to the users_in_locales table, and generate a success message.
    <p>where y'at?</p>
    <form id="addNew">
        <input type="text" name="localeName" placeholder="locale name" required>
        <input type="submit" value="submit" id="addNewButton" required>
    </form>
    <br>
    <p>some places you might be:</p>
    
{% endblock content %}