{% extends 'layout.html' %}
{% block content %}
   <h2>Add a locale!</h2>
    <p>This adds an entry to Locales</p>
    <form id="addNew" action="/add-locale">
        <input type="text" name="localeName" placeholder="locale name" required>
        <input type="submit" value="add!" id="addNewButton" required>
    </form>
    <p></p>
    <h2>Edit existing locales:</h2>
    <table>
    <tr>
        <th>locale name</th> 
        <th>first name</th>
    </tr>
    {% for locale in locales %}
        <tr>
            <form id="updateExisting" action="/update-locale">
            <input type="hidden" name="localeID" value="{{locale['localeID']}}">
            <td><input type="text" name="localeName" placeholder="{{locale['localeName']}}"></td>
            <td>{{locale['firstName']}}</td>
            <td><input type="submit" value="update" id="updateButton" required></td>
            </form>
            <form id="deleteExisting" action="/delete-locale">
            <input type="hidden" name="localeID" value="{{locale['localeID']}}">
            <td><input type="submit" value="delete" id="deleteButton" required></td>
            </form>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}