{% extends "layout.html" %}
{% block content %}
 <legend>Join Quarpedia</legend>
<table>
    <form id="addNew" action="/complete-registration">
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>locale name</th>
        </tr>
        <tr>
            <td><input type="text" name="firstName" placeholder="first name" required></td>
            <td><input type="text" name="lastName" placeholder="last name" required></td>
            <td><input type="text" name="localeName" placeholder="locale name" required></td>
            <td><input type="submit" value="register!" id="addNewButton" required></td>
        </tr>
    </form>
</table>
<!-- <div class="content-section">
    <form method="POST" action="/complete-registration">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Join Quarpedia</legend>
            <div class="form-group">
                {{ form.firstName.label(class="form-control-label") }}

                {% if form.firstName.errors %}
                {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.firstName.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.firstName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.lastName.label(class="form-control-label") }}

                {% if form.lastName.errors %}
                {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lastName.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lastName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.localeName.label(class="form-control-label") }}

                {% if form.localeName.errors %}
                {{ form.localeName(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.localeName.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.localeName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div> -->
<small>
    Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Log in</a>
</small>
</div>
{% endblock content %}