{% extends "layout.html" %}
{% block content %}
 <legend>Join Quarpedia</legend>
<table>
    <form id="addNew" action="/complete-registration">
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>locale name</th>
        </tr>
        <tr>
            <td><input type="text" name="firstName" placeholder="first name" required></td>
            <td><input type="text" name="lastName" placeholder="last name" required></td>
            <td><input type="text" name="localeName" placeholder="locale name" required></td>
            <td><input type="submit" value="register!" id="addNewButton" required></td>
        </tr>
    </form>
</table>

<small>
    Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Log in</a>
</small>
</div>
{% endblock content %}