{% extends 'layout.html' %}
{% block content %}
<h2>Going on a walk?</h2>
<p>This updates the currently logged in user's localeID in the Users table</p>
<p>Walks are a bit more permanent now. Please select your destination.</p>
<form id="addNew">
    <select name="localeName" id="localeName">
      <option value="kitchen">the kitchen</option>
      <option value="laundry">the laundry room</option>
      <option value="saturn">Saturn</option>
      <option value="volunteerpark">Volunteer Park</option>
      <option value="calandersonpark">Cal Anderson Park</option>
      <option value="interlakenpark">Interlaken Park</option>
      <option value="thearboretum">The Arboretum</option>
  </select>
  <input type="submit" value="i'm going on this walk right now!" id="addNewButton" required>
</form>
<br>
<small>
    Is the walk you're going on not here? <a class="ml-2" href="{{ url_for('locales') }}">Add a destination</a>
</small>
</div>
{% endblock content %}