{% extends 'layout.html' %}
{% block content %}
<h2>Going on a walk?</h2>
<p>This updates the currently logged in user's localeID in the Users table, and adds an entry to the Walks table. You may only choose unoccupied destinations. This should also update ActivitiesLocales (as any existing activities you are doing are by definition now available in your new location, but that isn't implemented yet.</p>
<table>
    <form id="addNew" action="/add-walk">
        <tr>
            <th>walk name</th>
            <th>destination</th>
        </tr>
        <tr>
            <td><input type="text" name="walkName" placeholder="walk name" required></td>
            <td>
                <select name="destination" id="destination">
                    {% for destination in destinations %}
                    <option value="{{destination['localeID']}}">{{destination['localeName']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="submit" value="i'm going on this walk right now!" id="addNewButton" required></td>
        </tr>
    </form>
</table>
<br>
<small>
    Is the walk you're going on not here? <a class="ml-2" href="{{ url_for('locales') }}">Add a destination</a>
</small>
<br><br>
<h2>Rename existing Walks:</h2>
<table>
   
  <tr>
    <th>walkID</th>
    <th>walkName</th> 
    <th>origin</th> 
    <th>destination</th> 
    <th>walker</th> 
</tr>
{% for walk in data %}
<tr>
    <form id="updateExisting" action="/update-walk">
    <td><input type="hidden" name="walkID" value="{{walk['walkID']}}">{{walk['walkID']}}</td>
    <td><input type="text" name="walkName" placeholder="{{walk['walkName']}}"></td>
    <td>{{walk['origin']}}</td>
    <td>{{walk['destination']}}</td>
    <td>{{walk['walker']}}</td>
    <td><input type="submit" value="update" id="updateButton" required></td>
    <td><input type="submit" value="delete" id="deleteButton" required></td>
    </form>
</tr>
{% endfor %}
</table>
</div>
{% endblock content %}